<p id="notice"><%= notice %></p>

<h1>All Repos Created by You:</h1>


<p id="notice"><%= notice %></p>
<br>


<ul>
    <% @created_repos.each do |repo| %>
        <%= render 'repo', repo: repo %>
    <% end %>
</ul>

<%= link_to 'New Repo', new_repo_path %>
