

<%= render 'partials/errors', f: @repo %>

<%= form_with(model: @repo, local: true) do |form| %>

    <%= render 'partials/basic_field', form:form, base: @repo, field: :name %>

    <p>
    <%= form.submit %>
    </p>
<% end %>